<header class="pos-rel">

    <ul class="list-unstyled list-inline align-left">
        <li>
            <a href="" class="padd-15 dis-inblock hover-color-nephritis"
               title="Faire un don pour l'association">
                <img class="responsive-img" src="{{ asset('public/iconLogo/gift-24.png') }}"
                     alt="Icône de don/cadeau"/>
                <span class="marg-5-left">Faire un don</span>
            </a>
        </li>
        <li>
            <a href="" class="padd-15 dis-inblock hover-color-sun-flower" title="Contacter l'association">
                <img class="responsive-img" src="{{ asset('public/iconLogo/paper-plane-24.png') }}"
                     alt="Icône de contact"/>
                <span class="marg-5-left">Contact</span>
            </a>
        </li>
        <li>
            <a href="" class="padd-15 dis-inblock hover-color-alizarin"
               title="Voir la galerie photo de l'association">
                <img class="responsive-img" src="{{ asset('public/iconLogo/gallery-24.png') }}"
                     alt="Icône de la galerie photo"/>
                <span class="marg-5-left">Galerie</span>
            </a>
        </li>
    </ul>

    <div id="headerJumbo">
        <a id="headerMsg" href="{{ path('main_homepage') }}" title="Vers l'accueil du site"
           class="txt-b pos-abs-middle-center align-center color-yang txt-size-xlarge txt-size-small-l padd-15 padd-30-right-left">
            <span>les poupons de la</span><br>
            <span class="txt-size-jumbo color-carrot">
            <span class="color-nephritis">te</span><span class="color-sun-flower">ran</span><span
                        class="color-alizarin">ga</span>
        </span>
        </a>
    </div>
</header>